<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="assets/css/finish_upload.css">

<%= erb :header %>

<div class="finish">
  <h3>сЂѓсЂфсЂЪсЂ«сѓесЃбућ╗тЃЈсЂїсѓбсЃЃсЃЌсЃГсЃ╝сЃЅсЂЋсѓїсЂЙсЂЌсЂЪсђѓсѓесЃбт║дсЂ»2,554сЂДсЂЎ</>
</div>

<div class="main">
  <div id = 'img'>
    <div class="trim">
      <img src="<%= @image_path %>" alt="" width="500" height="300">
    </div>
  </div>
  <div id ="content">
    <div id = 'titles'>
      <p id="title"><%= @title %>!</p>
      <p id = "score">­ЪЉЇ 2,544</p>
    </div>
    <p id="text"><%= @text %>!</p> 
    <p id ="categori"> #tinko </p>
  </div>

</div>



<%= erb :footer %>
