<!DOCTYPE html>

<link rel="stylesheet" type="text/css" media="all" href="/assets/css/pic.css">

<%= erb :header %>

<div class="welcome">
  <p>
  <b><font color=#FF8C00>сѓѕсЂєсЂЊсЂЮсђЂт╣│ТѕљсЃЈсЃќсЂИ№╝Ђ</font> </b>
   т╣│ТѕљсЃЈсЃќсЂ»сђЂТюђТќ░сЂ«сѓесЃбсѓесЃбсЂфућ╗тЃЈсЂїсѓбсЃЌсЃГсЃ╝сЃЅсЂЋсѓїсѓІсЃЌсЃЕсЃЃсЃѕсЃЋсѓЕсЃ╝сЃасЂДсЂЎсђѓ
  </p>
</div>

<div class="main">
  <div class="sectionTitle">
    <h2>JapanсЂДТђЦСИіТўЄ  
    <img id="japan" src="/assets/images/japan.jpg" />
    </h2>
    
  </div>

  <div class="inline-block">
    <% @albums.each do |album| %>
      <div class="pic">
        <a href="/images/<%= album.id %>"><img class="cover" src="/assets/images/<%= album.url %>.jpg" alt="" /></a>
        <div>
        <p class="title"></p>
        <%= album.title  %> &nbsp;&nbsp; ­ЪЉЇ <%= album.score %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="apple_pagination">
    <%= will_paginate @albums, :container => false %>
  </div>
</div>

<%= erb :footer %>
