<!DOCTYPE html>

<link rel="stylesheet" type="text/css" media="all" href="assets/css/pic.css">

<%= erb :header %>

<div class="welcome">
  <p>日経トレンディは創刊以来、毎年12月号にその年にトレンドとなったものを選出する「ヒット商品ベスト30」を掲載している。「ヒット商品」と銘打っているが「商品」だけでなくイベントや文芸・映画作品なども含まれることもあり、新語・流行語大賞と並び世相を反映したランキングとして年々注目度が増している。「ヒット商品ベスト30」と同時に「ヒット商品予測ランキング」も発表される。</p>
</div>

<div class="main">
  <div class="sectionTitle">
    <h2>Japanで急上昇  
    <img id="japan" src="/assets/images/japan.jpg" />
    </h2>
    
  </div>

  <div class="inline-block">
    <% @albums.each do |album| %>
      <div class="pic">
        <img class="cover" src="/assets/images/<%= album.url %>.jpg" alt="" />
        <div>
        <p class="title"></p>
        <div><%= album.title  %> &nbsp;&nbsp; </div>
        <div>👍 2,544</div>
        </div>
      </div>
    <% end %>
  <div class="apple_pagination">
  <%= will_paginate @albums, :container => false %>
</div>
  </div>
</div>

<%= erb :footer %>
